<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Titles of subjects</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">
        <!--Tu będziemy pisać content <> start-->
        <form th:action="@{/view/subjectdescription/add}" method="post" th:object="${new_subject}">
            <input type="text" hidden th:field="*{id}">
            <div class="row ">
                <!--Odsuwam od lewej o 1 kolumne, szerokość ustawiam na 8 kolumn-->
                <div class="row col-md-8">
                    <!--<div class="">-->
                    <div class="col-md-6">Subject</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{subject}"></div>
                    <!--</div>-->
                </div>
                <!--/////////////////////////////////////////////////////-->
                <div class="row col-md-8">
                    <!--<div class="col-md-offset-2 col-md-8">-->
                    <div class="col-md-6">Description</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{description}"></div>
                    <!--</div>-->
                </div>
                <!--/////////////////////////////////////////////////////-->
                <div class="row col-md-offset-2 col-md-6">
                    <!--<div class="col-md-offset-2 col-md-8"> &lt;!&ndash;guzik&ndash;&gt;-->
                <!--<input type="submit" class="form-control" value="submit">-->
                <input type="submit" class="form-control" value="Save">
                    <!--</div>-->
                </div>
                <!--/////////////////////////////////////////////////////-->
            </div>
        </form>
    </div>

    <!--Tu będziemy pisać content <> end -->
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>