<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Titles of subjects</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">
        <div class="offset-10">
            <a th:href="@{/view/subjectdescription/add}">Add</a>
        </div>
        <div class="row">
            <h2>Subject list</h2>


        </div>

        <div class="row colored" th:each="subject : ${subject_list}">
            <div class="col-1" th:text="${subject.getId()}"></div>
            <div class="col-4 wrapped" th:text="${subject.getSubject()}"></div>
            <div class="col-5 wrapped" th:text="${subject.getDescription()}"></div>
            <div class="col-md-1">
                <a th:href="@{'/view/subjectdescription/modify/' +${subject.id}}">Modify</a>
            </div>
        </div>
    </div>
    <!--Tu będziemy pisać content <> end -->
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>